doctype html

html
  meta(charset="utf-8")
  head
    title Completed Survey
    script(src='/scripts/d3/d3.min.js')
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    h1 You have already completed this questionnaire, we appreciate it. 
  style
